/* formulaire */

form {
    margin: 40px 40px 0px 40px;
    background-color: rgba(0, 0, 0, 0.8);
    color: goldenrod;
}

fieldset {
    border: 1px solid goldenrod;
}

fieldset .nom{
    justify-content: space-between;
    flex-wrap: wrap;
}

label, input {
    margin: 10px;
}

button {
    margin: 20px;
}
